@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
body {
  height: 100vh;
  overflow: hidden;
}
html {
  background-color: rgb(247, 255, 255);
}

#webd {
  color: rgb(38, 225, 194);
}

#wordle {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#instanam {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#trivial {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#namify {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#title {
  font-family: "Roboto", sans-serif;
  color: rgb(54, 53, 53);
}

/* .text-8xl {
  font-size: 6rem;
}

.pt-30px {
  padding-top: 30px;
}

.pl-70px {
  padding-left: 70px;
} */
/* @media (min-width: 1468px) {
  .hey {
    padding-top: 5%;
  }
} */

#description {
  font-family: "Roboto", sans-serif;
}
#latest {
  font-family: "Roboto", sans-serif;
}

#resumeicon {
  font-family: "Roboto", sans-serif;
}

#linkedinicon {
  font-family: "Roboto", sans-serif;
}

#githubicon {
  font-family: "Roboto", sans-serif;
}
#skill {
  font-family: "Roboto", sans-serif;
}

#wordle:hover {
  transform: scale(1.1);
}

#wordle {
  transition: transform 0.5s ease-in-out;
}

#instanam:hover {
  transform: scale(1.1);
}

#instanam {
  transition: transform 0.5s ease-in-out;
}

#trivial:hover {
  transform: scale(1.1);
}

#trivial {
  transition: transform 0.5s ease-in-out;
}

#namify:hover {
  transform: scale(1.1);
}

#namify {
  transition: transform 0.5s ease-in-out;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.modal-content {
  background-color: rgb(215, 240, 239);
  padding: 1rem;
  border-radius: 0.5rem;
  height: 80%;
  width: 100%;
  margin-right: 260px;
  position: relative;
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #000000;
  cursor: pointer;
  font-size: 1.5rem;
  transition: color 0.2s;
}

.close:hover {
  color: white;
}

#displayphotos {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.color {
  color: rgb(38, 225, 194);
}

#boxtitle {
  color: rgb(33, 169, 146);
  font-family: "Roboto", sans-serif;
}

#boxcolor {
  background-color: rgb(255, 252, 100);
  font-family: "Roboto", sans-serif;
}

.contactmodal {
  height: 40%;
  width: 100%;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 139px;
  /* margin-bottom: 10%; */
}

#namnguyen {
  font-family: "Roboto", sans-serif;
  color: rgb(54, 53, 53);
}

.hey {
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  color: rgb(54, 53, 53);
  /* padding-top: 30px; */
  margin-left: 70px;
}

#hey2 {
  font-family: "Roboto", sans-serif;
  color: rgb(54, 53, 53);
  font-size: 6rem;
  /* margin-left: 70px; */
  padding-bottom: 0px;
}

#profilepic {
  position: fixed;
  right: 0;
  display: flex;
  margin-left: 10px;
  margin-right: 20px;
  top: 140px;
  border-radius: 9999px;
}

/* #contacticon {
  width: 40%;
  height: 40%;
  top: 20px;
  font-family: "Roboto", sans-serif;
} */

@media (min-width: 1468px) {
  .projects {
    display: flex;
    justify-content: center;
    gap: 138px;
    margin-top: 3%;
    background-color: rgb(255, 255, 255);
  }
}

@media (min-width: 1468px) {
  .hey {
    font-family: "Roboto", sans-serif;
    font-size: 6rem;
    color: rgb(54, 53, 53);
    /* padding-top: 30px; */
    margin-left: 70px;
    margin-top: 8%;
  }
}

@media (min-width: 1468px) {
  #profilepic {
    position: fixed;
    right: 0;
    display: flex;
    margin-left: 10px;
    margin-right: 90px;
    top: 240px;
    border-radius: 9999px;
  }
}

@media (min-width: 1468px) {
  #contacticon {
    width: 20%;
    height: 40%;

    font-family: "Roboto", sans-serif;
  }
}
@media (min-width: 1468px) {
  #resumeicon {
    width: 20%;
    height: 40%;

    font-family: "Roboto", sans-serif;
  }
}
@media (min-width: 1468px) {
  #linkedinicon {
    width: 20%;
    height: 40%;

    font-family: "Roboto", sans-serif;
  }
}
@media (min-width: 1468px) {
  #githubicon {
    width: 20%;
    height: 40%;

    font-family: "Roboto", sans-serif;
  }
}

@media (min-width: 1468px) {
  #links {
    top: 30px;
  }
}

@media (min-width: 1468px) {
  #wordle {
    height: 230px;
    width: 450px;
  }
}
@media (min-width: 1468px) {
  #instanam {
    height: 230px;
    width: 450px;
  }
}
@media (min-width: 1468px) {
  #trivial {
    height: 230px;
    width: 450px;
  }
}
@media (min-width: 1468px) {
  #namify {
    height: 230px;
    width: 450px;
  }
}
